a:focus { outline: none; }

.card .list li a, .price-hot-wrod li a { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.navbar { top: 0; z-index: 1030; transition: all 0.3s ease-in-out; }

.min { transform: translateY(-100%); }

.max { transform: translateY(0%); }

.gray-bg { background-color: #efefef; }

.add-margin { margin-top: 80px; }
@media (max-width: 768px) { .add-margin { margin-top: 145px; } }

.loading-block { text-align: center; padding: 5% 0; }

.less + .less:before { content: '>'; display: inline; }

@media (max-width: 480px) { .phone-hide { display: none; } }
@media (min-width: 480px) { .no-padding { padding: 0 5px !important; } }
.no-right-padding { padding-right: 0; }

.search-bar { padding: 10px 0; width: 100%; }
.search-bar .input-group-btn > .btn { border-radius: 0 4px 4px 0 !important; }
.search-bar .input-group-lg { position: relative; }
.search-bar .input-group-lg .search-word-wrap { position: absolute; left: 0; top: 46px; z-index: 2; background-color: #fff; width: calc(100% - 58px); border: 1px solid #ccc; border-radius: 0 0 4px 4px; }
@media (max-width: 480px) { .search-bar .input-group-lg .search-word-wrap { width: 100%; } }
.search-bar .input-group-lg .search-word-wrap ul { list-style: none; padding: 0; margin: 0; max-height: 215px; overflow-y: scroll; }
.search-bar .input-group-lg .search-word-wrap ul li a { display: block; padding: 8px 12px; color: #000; }
@media (max-width: 480px) { .search-bar .input-group-lg .search-word-wrap ul li a { padding: 6px 10px; } }
.search-bar .input-group-lg .search-word-wrap ul li a:hover { text-decoration: none; color: #000; background-color: #efefef; }

.navbar { width: 100%; border-radius: 0; border: 0; }

.navbar-brand { padding: 10px; }
@media (max-width: 480px) { .navbar-brand { padding-bottom: 0; } }
.navbar-brand img { height: 45px !important; }

@media (max-width: 991px) { .all-menu { float: right; }
  .all-menu ul { list-style: none; padding: 0; margin: 0; }
  .all-menu > ul > li { position: relative; }
  .all-menu > ul > li > a { display: block; color: #fff; padding: 23px; } }
@media (max-width: 991px) and (max-width: 480px) { .all-menu > ul > li > a { padding: 17px 23px; } }
@media (max-width: 991px) { .all-menu > ul > li > ul { position: fixed; left: 0; width: 100%; background: #fff; z-index: 11; top: 0; height: 100vh; overflow-y: scroll; display: none; }
  .all-menu > ul > li > ul .phone-menu-control { padding: 15px 20px; color: #fff; background-color: #d72825; position: relative; }
  .all-menu > ul > li > ul .phone-menu-control .btn-close { position: absolute; right: 0; top: 0; padding: 15px 20px; color: #fff; background-color: transparent !important; }
  .all-menu > ul > li > ul .phone-menu-control .btn-close:after { display: none; }
  .all-menu > ul > li > ul > li { border-bottom: 1px solid #dddddd; }
  .all-menu > ul > li > ul > li:last-child { border-bottom: 0; }
  .all-menu > ul > li > ul > li > a { display: block; padding: 15px 20px; color: #000; position: relative; text-decoration: none; font-weight: bold; }
  .all-menu > ul > li > ul > li > a:after { content: "\f078"; font: normal normal normal 14px/1 FontAwesome; position: absolute; font-size: 16px; top: 50%; right: 20px; transform: translateY(-50%); color: #a1a1a1; }
  .all-menu > ul > li > ul > li > a.active { background-color: #f3f3f3; }
  .all-menu > ul > li > ul > li > a.active:after { content: "\f077"; color: #000; }
  .all-menu > ul > li > ul > li .menu { display: none; }
  .all-menu > ul > li > ul > li .menu .TT { display: none; }
  .all-menu > ul > li > ul > li .menu .item { border-top: 1px solid #dddddd; position: relative; }
  .all-menu > ul > li > ul > li .menu .item > .tt { padding: 8px 8px 8px 36px; display: block; position: relative; width: calc(100% - 60px); }
  .all-menu > ul > li > ul > li .menu .item > .tt:before { content: "\f0d7"; font: normal normal normal 14px/1 FontAwesome; position: absolute; font-size: 16px; top: 50%; left: 20px; transform: translateY(-50%); color: #d72825; }
  .all-menu > ul > li > ul > li .menu .item > .tt.active { color: #961c1a; text-decoration: underline; }
  .all-menu > ul > li > ul > li .menu .item > .tt.active:before { content: "\f0d8"; color: #961c1a; }
  .all-menu > ul > li > ul > li .menu .item > .tt.go:before { display: none; }
  .all-menu > ul > li > ul > li .menu .item > .see-all { position: absolute; top: 5px; right: 10px; z-index: 2; padding: 3px 8px; background: #a1a1a1; color: #fff; border-radius: 6px; }
  .all-menu > ul > li > ul > li .menu .item .detail { display: none; padding: 0 10px 10px 30px; }
  .all-menu > ul > li > ul > li .menu .item .detail a { display: inline-block; padding: 3px 5px; background: #d72825; color: #fff; border-radius: 6px; margin: 3px; } }
@media (min-width: 992px) { .all-menu { float: left; }
  .all-menu ul { list-style: none; padding: 0; margin: 0; }
  .all-menu > ul > li { position: relative; }
  .all-menu > ul > li > a { color: #fff; display: block; padding: 23px; }
  .all-menu > ul > li > ul { position: absolute; left: 0; background-color: #fff; width: 200px; z-index: 11; border: 1px solid #dddddd; padding: 10px 0; list-style: none; top: 64px; height: 750px; display: none; }
  .all-menu > ul > li > ul .phone-menu-control { display: none; }
  .all-menu > ul > li > ul:before { content: ''; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff; position: absolute; top: -10px; left: 18px; }
  .all-menu > ul > li > ul > li:hover > a { color: #d72825; font-weight: bold; -moz-transform: translateX(1px); -ms-transform: translateX(1px); -webkit-transform: translateX(1px); transform: translateX(1px); }
  .all-menu > ul > li > ul > li:hover > a:after { color: #000; }
  .all-menu > ul > li > ul > li:hover > .menu { display: block; }
  .all-menu > ul > li > ul > li > a { display: block; color: #000; text-decoration: none; padding: 2px 20px; position: relative; }
  .all-menu > ul > li > ul > li > a:after { content: "\f105"; font: normal normal normal 14px/1 FontAwesome; position: absolute; font-size: 20px; top: 50%; right: 20px; transform: translateY(-50%); color: #ccc; }
  .all-menu > ul > li > ul > li .menu { position: absolute; left: 198px; background-color: #fff; width: 600px; z-index: 11; border: 1px solid #dddddd; top: -1px; height: 750px; padding: 12px 24px; list-style: none; display: none; background-repeat: no-repeat; background-position: right bottom; }
  .all-menu > ul > li > ul > li .menu .TT { font-size: 1.6rem; border-bottom: 1px solid #d72825; padding: 5px 0; margin-bottom: 10px; color: #d72825; font-weight: bold; }
  .all-menu > ul > li > ul > li .menu .item { float: left; padding-right: 10px; }
  .all-menu > ul > li > ul > li .menu .item:before, .all-menu > ul > li > ul > li .menu .item:after { content: " "; display: table; }
  .all-menu > ul > li > ul > li .menu .item:after { clear: both; }
  .all-menu > ul > li > ul > li .menu .item .tt { display: block; color: #000; }
  .all-menu > ul > li > ul > li .menu .item .tt:hover { color: #d72825; }
  .all-menu > ul > li > ul > li .menu .item .see-all { display: none; }
  .all-menu > ul > li > ul > li .menu .item .detail { margin-bottom: 15px; }
  .all-menu > ul > li > ul > li .menu .item .detail a { color: #777; display: inline-block; font-size: 13px; margin-right: 2px; }
  .all-menu > ul > li > ul > li .menu .col-item-4 { width: 33.3%; }
  .all-menu > ul > li:hover > ul { display: block; } }
@media (min-width: 766px) { .all-menu { float: left; } }
@media (min-width: 992px) { .main-side { float: right; } }

.mode-wrap { margin-bottom: 20px; }
.mode-wrap .product-intro { padding: 10px; }
.mode-wrap .product-intro .bd { max-height: 800px; overflow: hidden; margin-bottom: 20px; }
@media (max-width: 480px) { .mode-wrap .product-intro .bd { max-height: 300px; } }
.mode-wrap .product-intro .bd.open { max-height: initial; }
.mode-wrap .product-intro .btn-open { width: 50%; }
.mode-wrap section { background-color: #fff; }
@media (max-width: 480px) { .mode-wrap section { overflow-x: scroll; } }
.mode-wrap section table { width: 100% !important; max-width: 100% !important; }
.mode-wrap section img { max-width: 100% !important; max-height: 100% !important; width: auto !important; height: auto !important; }

.wrap { margin-bottom: 10px; }
.wrap:before, .wrap:after { content: " "; display: table; }
.wrap:after { clear: both; }
.wrap.wrap-default { padding: 12px; background-color: #fff; }
@media (max-width: 480px) { .wrap.wrap-default { padding: 10px; } }

.breadcrumb-wrap { margin-bottom: 10px; padding: 12px; background-color: #fff; }
.breadcrumb-wrap:before, .breadcrumb-wrap:after { content: " "; display: table; }
.breadcrumb-wrap:after { clear: both; }
@media (max-width: 992px) { .breadcrumb-wrap { display: none; } }
.breadcrumb-wrap .breadcrumb { margin-bottom: 0; float: left; padding: 0 0; }

.info-wrap { margin-bottom: 10px; }
@media (max-width: 480px) { .info-wrap { padding: 0 15px; } }
.info-wrap .tt { font-size: 1.6rem; color: #d72825; font-weight: bold; margin-top: 10px; }
@media (max-width: 768px) { .info-wrap .tt { margin-top: 0; } }
.info-wrap .info-left { float: left; padding: 5px 0; }
.info-wrap .info-left span { color: #d72825; font-size: 1.6rem; font-weight: bold; }
.info-wrap .info-right { float: right; }
.info-wrap .info-right .pager { margin: 0 0; }

.search-cont-wrap { margin-top: 10px; }
.search-cont-wrap:before, .search-cont-wrap:after { content: " "; display: table; }
.search-cont-wrap:after { clear: both; }

.product { position: relative; background-color: #fff; padding: 12px; }
.product:before, .product:after { content: " "; display: table; }
.product:after { clear: both; }
@media (min-width: 769px) { .product:hover { -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.2); } }
@media (max-width: 480px) { .product { padding: 10px; } }
.product .product-left { overflow: hidden; display: block; }
.product .product-left img { position: relative; width: auto; max-width: initial; height: 100%; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.product .product-body .tt { overflow: hidden; line-height: 1.2; }
.product .product-body .tt a { color: #000; display: block; word-break: break-all; }
.product .product-body .tt a:hover { color: #00adff; }
.product .product-body .price { color: #d72825; font-weight: bold; margin: 5px 0; font-size: 12px; }
.product .product-body .price i { font-family: Arial; font-style: normal; }
.product .product-body .price span { font-size: 18px; }
@media (max-width: 480px) { .product .product-body .price span { font-size: 16px; } }
.product .product-body .info { font-size: 12px; color: #7c7c7c; }
.product .product-body .info .breadcrumb-xs { list-style: none; padding: 0; margin: 0; }
.product .product-body .info .breadcrumb-xs:before, .product .product-body .info .breadcrumb-xs:after { content: " "; display: table; }
.product .product-body .info .breadcrumb-xs:after { clear: both; }
.product .product-body .info .breadcrumb-xs li { float: left; font-size: 12px; }
.product .product-body .info .breadcrumb-xs li a { color: #7c7c7c; }
.product .product-right .btn-link { color: #777; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.product .product-right .btn-link:hover { color: #d72825; text-decoration: none; }
@media (max-width: 768px) { .product .product-right .btn-link:hover { color: #777; } }
.product .product-right .btn-link.active { color: #d72825; text-decoration: none; }
.mode-col .product { width: 24%; float: left; margin-right: 1.333%; margin-bottom: 1.333%; }
@media (min-width: 769px) { .mode-col .product:nth-child(4n) { margin-right: 0; } }
@media (max-width: 768px) { .mode-col .product { width: 32%; margin-right: 2%; margin-bottom: 2%; } }
@media (max-width: 768px) { .mode-col .product:nth-child(3n) { margin-right: 0; } }
@media (max-width: 480px) { .mode-col .product { width: 49%; margin-right: 2%; margin-bottom: 2%; } }
@media (max-width: 480px) { .mode-col .product:nth-child(3n) { margin-right: 2%; }
  .mode-col .product:nth-child(2n) { margin-right: 0; } }
.mode-col .product .product-left { width: 100%; height: 170px; margin: 0 auto; }
@media (max-width: 320px) { .mode-col .product .product-left { height: 130px; } }
.mode-col .product .product-body { height: 172px; overflow: hidden; }
@media (max-width: 480px) { .mode-col .product .product-body { height: 150px; } }
.mode-col .product .product-body .tt { font-size: 1.6rem; height: 4.8rem; margin: 10px 0 10px 0; }
.mode-col .product .product-body .good-news { color: #63C355; font-size: 12px; white-space: nowrap; overflow: hidden; height: 17px; }
.mode-col .product .product-body .good-news:empty { display: none; }
@media (max-width: 480px) { .mode-col .product .product-body .good-news { display: none; } }
.mode-col .product .product-body .breadcrumb-xs { height: 34px; overflow: hidden; }
.mode-col .product .product-right .wrap { list-style: none; padding: 0; margin: 0; }
.mode-col .product .product-right .wrap li:nth-child(1) { display: none; }
.mode-col .product .product-right .wrap li:nth-child(2) { width: 100%; text-align: right; }
@media (max-width: 480px) { .mode-col .product .product-right .wrap li:nth-child(2) { text-align: center; } }
.mode-col .product .product-right .wrap li .btn-link { position: absolute; top: 0; left: 0; padding: 6px 6px; font-size: 16px; background-color: #fff; border-radius: 0 0 20px 0; }
.mode-col .product .product-right .wrap li a .phone-hide { display: none; }
.mode-list .product { margin-bottom: 10px; display: -webkit-flex; display: flex; }
@media (max-width: 480px) { .mode-list .product { -webkit-flex-wrap: wrap; flex-wrap: wrap; } }
.mode-list .product .product-left { -webkit-flex: none; flex: none; width: 170px; height: 170px; }
@media (max-width: 768px) { .mode-list .product .product-left { width: 135px; height: 135px; } }
@media (max-width: 480px) { .mode-list .product .product-left { width: 100px; height: 100px; } }
.mode-list .product .product-left img { position: relative; height: 100%; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.mode-list .product .product-body { -webkit-flex: 1; flex: 1; padding: 0 20px; }
@media (max-width: 480px) { .mode-list .product .product-body { padding: 0 0 0 10px; } }
.mode-list .product .product-body .tt { font-size: 2.4rem; margin: 10px 0 20px 0; }
@media (max-width: 768px) { .mode-list .product .product-body .tt { font-size: 2rem; } }
@media (max-width: 480px) { .mode-list .product .product-body .tt { font-size: 1.6rem; margin: 5px 0 10px 0; } }
.mode-list .product .product-body .good-news { color: #63C355; font-size: 14px; }
.mode-list .product .product-body .good-news:empty { display: none; }
@media (max-width: 480px) { .mode-list .product .product-body .good-news { font-size: 12px; /*display: none;*/ } }
.mode-list .product .product-right { -webkit-flex: initial; flex: initial; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; width: 115px; min-width: 96px; margin: -12px -12px -12px 0; text-align: center; border-left: 1px dashed #dddddd; }
.mode-list .product .product-right .wrap { list-style: none; margin-bottom: 0; padding: 0; }
.mode-list .product .product-right .wrap li:nth-child(1) { display: none; }
@media (max-width: 480px) { .mode-list .product .product-right { width: 100%; min-width: initial; margin: 10px 0 0 0; border-left: 0; border-top: 1px dashed #dddddd; padding: 10px 0 0 0; }
  .mode-list .product .product-right .wrap { width: 100%; }
  .mode-list .product .product-right .wrap:before, .mode-list .product .product-right .wrap:after { content: " "; display: table; }
  .mode-list .product .product-right .wrap:after { clear: both; }
  .mode-list .product .product-right .wrap li { width: 100%; float: left; }
  .mode-list .product .product-right .wrap li .btn { width: 50%; } }
.mode-list .product .product-right .btn { margin-bottom: 10px; }
@media (max-width: 480px) { .mode-list .product .product-right .btn { margin-bottom: 0; } }
.mode-list.big .product { margin-bottom: 0; }
.mode-list.big .product:hover { box-shadow: none; }
.mode-list.big .product .product-body .intro { min-height: 60px; }
@media (max-width: 992px) { .mode-list.big .product .product-body .intro { min-height: 40px; } }
@media (max-width: 768px) { .mode-list.big .product .product-body .intro { min-height: initial; } }
.mode-list.big .product .product-body .mall { border-top: 1px dashed #ccc; padding-top: 14px; }
.mode-list.big .product .product-body .mall:before, .mode-list.big .product .product-body .mall:after { content: " "; display: table; }
.mode-list.big .product .product-body .mall:after { clear: both; }
.mode-list.big .product .product-body .mall img { width: 110px; float: left; }
@media (max-width: 480px) { .mode-list.big .product .product-body .mall img { width: 90px; } }
.mode-list.big .product .product-body .mall .btn { float: right; }
@media (max-width: 480px) { .mode-list.big .product .product-body .mall .btn { float: static; } }
.mode-list.big .product .product-body .price span { font-size: 2.4rem; }
@media (max-width: 768px) { .mode-list.big .product .product-body .price span { font-size: 2rem; } }
@media (max-width: 480px) { .mode-list.big .product .product-body .price span { font-size: 1.6rem; } }
.mode-list.big .product .product-left { margin-left: 20px; height: 250px; width: 250px; }
@media (max-width: 768px) { .mode-list.big .product .product-left { width: 150px; height: 150px; } }
@media (max-width: 480px) { .mode-list.big .product .product-left { width: 100%; height: 200px; margin-left: 0; margin-bottom: 10px; } }

.card .tt { font-size: 1.6rem; border-bottom: 1px solid #d72825; padding: 5px 0; margin-bottom: 10px; color: #d72825; font-weight: bold; }
.card .list { list-style: none; padding: 0; margin: 0; }
.card .list li { border-bottom: 1px dashed #dddddd; }
.card .list li a { display: block; padding: 5px 10px; color: #000; }
.card .list li a:hover { color: #d72825; }

.price-list { background-color: #fff; padding: 20px; border-bottom: 1px dashed #dddddd; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; }
.price-list:before, .price-list:after { content: " "; display: table; }
.price-list:after { clear: both; }
.price-list:last-child { border-bottom: 0; }
@media (max-width: 480px) { .price-list { padding: 12px; } }
.price-list:hover, .price-list:focus { text-decoration: none; }
.price-list:hover { background-color: #fff6de; }
.price-list:hover .price-list-body .tt h3 { color: #00adff; }
.price-list .price-list-left { width: 90px; height: 90px; overflow: hidden; -webkit-flex: none; flex: none; }
.price-list .price-list-left img { position: relative; height: 100%; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.price-list .price-list-body { display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; word-break: break-all; margin-left: 30px; width: 100%; }
@media (max-width: 480px) { .price-list .price-list-body { display: block; margin-left: 10px; } }
.price-list .price-list-body .tt { -webkit-flex: 1; flex: 1; margin: 0; display: inline-block; }
.price-list .price-list-body .tt h3 { line-height: 1.3; color: #000; font-size: 1.6rem; margin-top: 0; }
@media (max-width: 480px) { .price-list .price-list-body .tt h3 { font-size: 1.4rem; } }
.price-list .price-list-body .tt .info { font-size: 12px; color: #7c7c7c; }
.price-list .price-list-body .tt .info .breadcrumb-xs { list-style: none; padding: 0; margin: 0; }
.price-list .price-list-body .tt .info .breadcrumb-xs:before, .price-list .price-list-body .tt .info .breadcrumb-xs:after { content: " "; display: table; }
.price-list .price-list-body .tt .info .breadcrumb-xs:after { clear: both; }
.price-list .price-list-body .tt .info .breadcrumb-xs li { float: left; font-size: 12px; color: #7c7c7c; }
.price-list .price-list-body .price { -webkit-flex: none; flex: none; min-width: 135px; color: #d72825; font-weight: bold; padding: 4px 12px; font-size: 12px; text-align: center; }
@media (max-width: 480px) { .price-list .price-list-body .price { padding: 4px 0 0 0; text-align: left; } }
.price-list .price-list-body .price i { font-family: Arial; font-style: normal; }
.price-list .price-list-body .price span { font-size: 18px; }
@media (max-width: 480px) { .price-list .price-list-body .price span { font-size: 16px; } }
.price-list .price-list-body .other { -webkit-flex: none; flex: none; padding-left: 12px; }
@media (max-width: 768px) { .price-list .price-list-body .other { display: none; } }

.c-nav-tabs { list-style: none; padding: 0; margin: 0; border-bottom: 3px solid #d72825; }
.c-nav-tabs:before, .c-nav-tabs:after { content: " "; display: table; }
.c-nav-tabs:after { clear: both; }
.c-nav-tabs li { float: left; margin-right: 3px; }
.c-nav-tabs li a { color: #fff; background-color: #ccc; display: block; padding: 5px 10px; text-decoration: none; font-weight: bold; font-size: 15px; }
@media (max-width: 480px) { .c-nav-tabs li a { font-size: 14px; } }
.c-nav-tabs li a .badge { margin-left: 3px; }
@media (max-width: 480px) { .c-nav-tabs li a .badge { display: none; } }
.c-nav-tabs li.active a, .c-nav-tabs li:hover a, .c-nav-tabs li:focus a { background-color: #d72825; }
.c-nav-tabs li.active a .badge, .c-nav-tabs li:hover a .badge, .c-nav-tabs li:focus a .badge { background-color: #fff; color: #d72825; }
.c-nav-tabs.black { border-color: #000; }
.c-nav-tabs.black li.active a, .c-nav-tabs.black li:hover a, .c-nav-tabs.black li:focus a { background-color: #000; }

.price-hot-wrod { list-style: none; padding: 0; margin: 0; padding: 10px 0; }
.price-hot-wrod:before, .price-hot-wrod:after { content: " "; display: table; }
.price-hot-wrod:after { clear: both; }
.price-hot-wrod li { width: 33.3%; float: left; border-bottom: 1px #a6a6a6 dashed; }
@media (max-width: 480px) { .price-hot-wrod li { width: 100%; } }
.price-hot-wrod li a { display: block; color: #000; padding: 5px 10px; }
.price-hot-wrod li a:hover { color: #d72825; }

.filter { padding: 15px 30px; }
.filter:before, .filter:after { content: " "; display: table; }
.filter:after { clear: both; }
.filter ul { list-style: none; padding: 0; }
.filter ul li .badge { margin-left: 6px; font-weight: normal; font-size: 10px; background-color: #a1a1a1; }
.filter ul li .btn-primary { -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; padding: 3px 8px 3px 3px; }
.filter > ul { border-bottom: 1px dashed #ccc; margin-bottom: 10px; padding-bottom: 10px; }
.filter > ul:last-child { border-bottom: 0; margin-bottom: 0; padding-bottom: 0; }
.filter > ul > li { font-weight: bold; }
.filter > ul > li > ul { margin-top: 10px; }
.filter > ul > li > ul:before, .filter > ul > li > ul:after { content: " "; display: table; }
.filter > ul > li > ul:after { clear: both; }
.filter > ul > li > ul > li { float: left; display: block; width: 100%; margin-top: 5px; }
@media (min-width: 480px) { .filter > ul > li > ul > li { width: 50%; } }
.filter > ul > li > ul > li label { font-weight: normal; }

.btn-block-half { text-align: center; }
.btn-block-half:before, .btn-block-half:after { content: " "; display: table; }
.btn-block-half:after { clear: both; }
.btn-block-half .btn { width: 48%; float: left; }
.btn-block-half .btn + .btn { margin-left: 4%; }

.checkbox-style label { cursor: pointer; }
.checkbox-style label .name { color: #777777; }
.checkbox-style label .box { display: inline-block; width: 16px; height: 16px; border: 1px solid #a1a1a1; vertical-align: -3px; border-radius: 2px; }
.checkbox-style label:hover .name { color: #d72825; }
.checkbox-style label:hover .box { border-color: #d72825; }
.checkbox-style label input[type="checkbox"] { display: none; }
.checkbox-style label input[type="checkbox"]:checked + .box { border-color: #d72825; }
.checkbox-style label input[type="checkbox"]:checked + .box:before { font: normal normal normal 14px/1 FontAwesome; content: "\f00c"; vertical-align: 3px; color: #d72825; }
.checkbox-style label input[type="checkbox"]:checked ~ .name { color: #d72825; }

.footer { color: #fff; background-color: #4a4a4a; text-align: center; padding: 15px; }
@media (max-width: 480px) { .footer { background-color: transparent; color: #777; } }

.backToTop { display: inline-block; color: #fff; background-color: rgba(0, 0, 0, 0.4); text-align: center; position: fixed; right: 2%; bottom: 10%; width: 60px; height: 60px; line-height: 56px; font-size: 32px; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.backToTop:after { content: "\f135"; font: normal normal normal 14px/1 FontAwesome; font-size: 31px; color: #fff; }
@media (max-width: 480px) { .backToTop:after { font-size: 26px; } }
.backToTop:hover, .backToTop:focus { text-decoration: none; }
@media (min-width: 480px) { .backToTop:hover { background-color: rgba(0, 0, 0, 0.6); color: #fff; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; } }
@media (max-width: 480px) { .backToTop { width: 50px; height: 50px; font-size: 24px; line-height: 49px; background-color: rgba(0, 0, 0, 0.4); }
  .backToTop:focus, .backToTop:hover, .backToTop:active { color: #fff; } }

.btn-tag-wrap { margin: 10px 0; }
@media (max-width: 480px) { .btn-tag-wrap { margin: 10px 10px; height: 110px; overflow: hidden; } }
.btn-tag-wrap .btn-tag { margin: 3px 0; border: 1px solid #d72825; color: #d72825; }
.btn-tag-wrap .btn-tag:hover { background-color: #d72825; color: #fff; }

.mask { position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: #000; z-index: 10; opacity: 1; -moz-transition: opacity 5s linear; -o-transition: opacity 5s linear; -webkit-transition: opacity 5s linear; transition: opacity 5s linear; }
.mask.fade { opacity: 0.5; }

.slider-container { margin-bottom: 5%; position: relative; }

.lg-slider-for { margin-left: auto; margin-right: auto; }

.lg-slider-nav { position: absolute; text-align: center; padding: 0 20px; left: 0; right: 0; bottom: 10px; }
.lg-slider-nav .item { background-color: rgba(0, 0, 0, 0.6); color: #fff; cursor: pointer; margin: 0 5px; padding: 5px 0; }
.lg-slider-nav .item:hover { background-color: #000; }
@media (max-width: 1230px) { .lg-slider-nav { display: none !important; } }

.xs-slider { position: relative; }
.xs-slider .tt { background-color: #d72825; color: #fff; padding: 10px; font-weight: bold; font-size: 1.6rem; }
.xs-slider .xs-slider-for .item a { background-color: #fff; display: block; margin-bottom: 5px; }
.xs-slider .xs-slider-for .item a:before, .xs-slider .xs-slider-for .item a:after { content: " "; display: table; }
.xs-slider .xs-slider-for .item a:after { clear: both; }
.xs-slider .xs-slider-for .item a .item-right { width: 105px; height: 105px; overflow: hidden; float: right; text-align: right; }
.xs-slider .xs-slider-for .item a .item-right img { height: 100%; }
.xs-slider .xs-slider-for .item a .item-left { width: calc(100% - 105px); float: left; padding: 10px; }
.xs-slider .xs-slider-for .item a .item-left .info { color: #000; }
.xs-slider .xs-slider-for .item a .item-left .price { font-weight: bold; }
.xs-slider .xs-slider-for .item a .item-left .price i { font-family: Arial; font-style: normal; }
.xs-slider .xs-slider-for .item a .item-left .price span { font-size: 18px; }
.xs-slider .xs-slider-nav { position: absolute; top: 5px; right: 0; }
@media (max-width: 480px) { .xs-slider .xs-slider-nav { top: 2px; right: 10px; } }
.xs-slider .xs-slider-nav .btn.active { background-color: #d72825; border-color: #d72825; color: #fff; }

.responsive { margin-top: 12px; }
.responsive a { width: 200px; display: block; padding: 10px; background-color: #fff; margin-right: 10px; position: relative; }
.responsive a:hover { text-decoration: none; }
@media (min-width: 769px) { .responsive a:hover { -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.2); } }
.responsive a .slider-hd { width: 180px; height: 180px; overflow: hidden; }
.responsive a .slider-hd img { position: relative; height: 100%; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.responsive a .slider-bd { position: absolute; bottom: 0; left: 0; display: block; width: 100%; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 31%, #ffffff); padding: 10px; }
.responsive a .slider-bd h3 { font-size: 16px; color: #000; margin-top: 0; height: 35px; overflow: hidden; }
.responsive a .slider-bd .price i { font-family: Arial; font-style: normal; }

.ad-wrap { text-align: center; }
.ad-wrap div { display: inline-block; }

.range-slider-wrap { width: 100% !important; }
.range-slider-wrap .sliders { margin: 10px 15px 20px 15px; width: 50%; }
@media (max-width: 480px) { .range-slider-wrap .sliders { width: 90%; } }
.range-slider-wrap .price { font-weight: normal; font-size: 12px; color: #777; }
.range-slider-wrap .price i { font-style: normal; font-family: Arial; }
.range-slider-wrap .price span { font-size: 15px; }

.mall-btn-wrap { display: none; list-style: none; padding: 0; margin: 0; padding: 10px; text-align: center; position: fixed; z-index: 9; border-radius: 10px; background-color: rgba(255, 255, 255, 0.7); box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3); }
.mall-btn-wrap li { display: inline-block; }
.mall-btn-wrap li .btn.active, .mall-btn-wrap li .btn:hover { background-color: #777; color: #fff; }

.index-banner-wrap { width: 100%; position: relative; }
.index-banner-wrap .mall:first-child { margin-top: 12px; }
.index-banner-wrap .mall .item { margin-bottom: 5px; display: block; }
.index-banner-wrap .mall .item img { width: 100%; }
